<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>URL Shortster</title>
  </head>
  <head>
  <body>
    <div class="top">
      <h1>URL Shortener</h1>
    </div>
    <div class="d-flex justify-content-center">
      <div
        class="col-lg-offset-4 col-lg-4"
        id="panel"
        style="margin-top: -4rem; width: 70%"
      >
        <form action="/shorten" method="POST">
          <br /><br />
          <div class="group">
            <input type="text" placeholder="Enter URL" required name="longurl" autocomplete="off" />         
            <button type="submit" class="btn btn-success"> Shorten</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
